# Numpy

In [1]:
#1.Write a NumPy program to multiply two given arrays of same size element-by-element.
import numpy as np
array1 = np.array([1, 2, 3, 4])
array2 = np.array([5, 6, 7, 8])
result = array1 * array2
print("Array 1:", array1)
print("Array 2:", array2)
print("Result:", result)

Array 1: [1 2 3 4]
Array 2: [5 6 7 8]
Result: [ 5 12 21 32]

In [2]:
#2.Write a NumPy program to find the missing data in a given array.
import numpy as np
data=np.array([1,np.nan,3,4,np.nan,6])
missing=np.isnan(data)
print("Missing Data: ",np.where(missing)[0])

Missing Data:  [1 4]

In [3]:
#3.Write a NumPy program to test whether each element of a 1-D array is also present in a second array.
import numpy as np
array1 = np.array([1, 2, 3, 4, 5])
array2 = np.array([5, 6, 7, 8, 9])
presence_check = np.in1d(array1, array2)
print("Array 1:", array1)
print("Array 2:", array2)
print("Presence check:", presence_check)

Array 1: [1 2 3 4 5]
Array 2: [5 6 7 8 9]
Presence check: [False False False False  True]

In [4]:
#4.Write a NumPy program to save a NumPy array to a text file.
import numpy as np
array_to_save = np.array([[1, 2, 3],
                          [4, 5, 6],
                          [7, 8, 9]])
file_path = "array_data.txt"
np.savetxt(file_path, array_to_save)
print("Array has been saved to", file_path)

Array has been saved to array_data.txt

In [5]:
#5.Write a NumPy program to Create a 1-D array of 30 evenly spaced elements between 2.5. and 6.5, inclusive.
import numpy as np
array = np.linspace(2.5, 6.5, 30)
print("1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):")
print(array)

1-D array of 30 evenly spaced elements between 2.5 and 6.5 (inclusive):
[2.5        2.63793103 2.77586207 2.9137931  3.05172414 3.18965517
 3.32758621 3.46551724 3.60344828 3.74137931 3.87931034 4.01724138
 4.15517241 4.29310345 4.43103448 4.56896552 4.70689655 4.84482759
 4.98275862 5.12068966 5.25862069 5.39655172 5.53448276 5.67241379
 5.81034483 5.94827586 6.0862069  6.22413793 6.36206897 6.5       ]

# Pandas

In [6]:
#1.Write a Pandas program to convert Series of lists to one Series.
import pandas as pd
series_of_lists = pd.Series([[1, 2], [3, 4, 5], [6, 7, 8, 9]])
single_series = series_of_lists.explode()
print("Series of lists:")
print(series_of_lists)
print("\nSingle Series:")
print(single_series)

Series of lists:
0          [1, 2]
1       [3, 4, 5]
2    [6, 7, 8, 9]
dtype: object

Single Series:
0    1
0    2
1    3
1    4
1    5
2    6
2    7
2    8
2    9
dtype: object

In [7]:
#2.Write a Pandas program to create a subset of a given series based on value and condition.
import pandas as pd
data = {'A': [1, 2, 3, 4, 5],
        'B': ['a', 'b', 'c', 'd', 'e']}
series = pd.Series(data['A'], index=data['B'])
condition_value = 3
subset = series[series == condition_value]
print("Original Series:")
print(series)
print("\nSubset where values are equal to", condition_value)
print(subset)

Original Series:
a    1
b    2
c    3
d    4
e    5
dtype: int64

Subset where values are equal to 3
c    3
dtype: int64

In [8]:
#3.Write a Pandas program to display most frequent value in a given series and replace everything else as 'Other' in the series.
import pandas as pd
s = pd.Series(['Pen', 'Pencil', 'Eraser', 'Pen', 'Pencil', 'Sharpener', 'Ruler'])
most_frequent = s.value_counts().index[0]
s[~s.isin(s.value_counts().index[:1])] = 'Other'
print("Most frequent value:", most_frequent)
print("Modified Series:", s)

Most frequent value: Pen
Modified Series: 0      Pen
1    Other
2    Other
3      Pen
4    Other
5    Other
6    Other
dtype: object

In [9]:
#4.Write a Pandas program to find the positions of numbers that are multiples of 5 of a given series.
import pandas as pd
s = pd.Series([5, 10, 25, 15, 30, 45, 20])
positions = s.index[s % 5 == 0]
print("Positions of multiples of 5:", positions)

Positions of multiples of 5: Int64Index([0, 1, 2, 3, 4, 5, 6], dtype='int64')

In [10]:
#5.Write a Pandas program to calculate the number of characters in each word in a given series.
import pandas as pd
s = pd.Series(['Numpy', 'Pandas', 'Machine', 'Learning', 'Lab', 'Python'])
char_counts = s.str.len()
print("Character count:", char_counts)

Character count: 0    5
1    6
2    7
3    8
4    3
5    6
dtype: int64

In [11]:
#6.Write a Pandas program to convert year-month string to dates adding a specified day of the month.
import pandas as pd
data = ["2024-01", "2022-05", "2027-04"]
s = pd.Series(data)
day = 15
dates = pd.to_datetime(s, format="%Y-%m")
dates += pd.to_timedelta(day, unit="D")
print("Dates with added day:", dates)

Dates with added day: 0   2024-01-16
1   2022-05-16
2   2027-04-16
dtype: datetime64[ns]

In [12]:
#7.Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index labels.
import pandas as pd
data = {
    "Name": ["Apple", "Mango", "Strawberry"],
    "Age": [25, 30, 35],
    "City": ["Delhi", "Mumbai", "Chennai"],
}
index_labels = ["Person 1", "Person 2", "Person 3"]
df = pd.DataFrame(data, index=index_labels)
print(df)

                Name  Age     City
Person 1       Apple   25    Delhi
Person 2       Mango   30   Mumbai
Person 3  Strawberry   35  Chennai

In [13]:
#8.Write a Pandas program to select the rows where the number of attempts in the examination is greater than 2.
import pandas as pd
data = {'Student': ['Eunice', 'Alice', 'John', 'Dev'],
        'Attempts': [1, 3, 2, 4]}
df = pd.DataFrame(data)
selected_rows = df[df['Attempts'] > 2]
print("Original DataFrame:")
print(df)
print("\nRows where the number of attempts is greater than 2:")
print(selected_rows)

Original DataFrame:
  Student  Attempts
0  Eunice         1
1   Alice         3
2    John         2
3     Dev         4

Rows where the number of attempts is greater than 2:
  Student  Attempts
1   Alice         3
3     Dev         4

In [14]:
#9.Write a Pandas program to append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
import pandas as pd
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})
new_row_values = {'A': 10, 'B': 11, 'C': 12}
df = df.append(new_row_values, ignore_index=True)
print("DataFrame with new row:\n", df)
df = df.iloc[:-1]  
print("\nOriginal DataFrame:\n", df)

DataFrame with new row:
     A   B   C
0   1   4   7
1   2   5   8
2   3   6   9
3  10  11  12

Original DataFrame:
    A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

C:\Users\HP\AppData\Local\Temp\ipykernel_26588\3319949177.py:5: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(new_row_values, ignore_index=True)

In [15]:
#10.Write a Pandas program to sort the DataFrame first by 'name' in descending order, then by score in ascending order.
import pandas as pd
data = {'name': ['Haritha', 'John', 'Akhila', 'Rashmita'],
        'score': [50, 60, 70, 80]}
df = pd.DataFrame(data)
df = df.sort_values(by=['name', 'score'], ascending=[False, True])
print(df)

       name  score
3  Rashmita     80
1      John     60
0   Haritha     50
2    Akhila     70

In [16]:
#11.Write a Pandas program to replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
import pandas as pd
data = {'name': ['Haritha', 'John', 'Akhila', 'Rashmita'],
        'score': [90, 80, 70, 60],
        'qualify': ['yes', 'no', 'yes', 'no']}
df = pd.DataFrame(data)
df['qualify'] = df['qualify'].replace({'yes': True, 'no': False})
print(df)

       name  score  qualify
0   Haritha     90     True
1      John     80    False
2    Akhila     70     True
3  Rashmita     60    False

In [17]:
#12.Write a Pandas program to remove infinite values from a given DataFrame.
import pandas as pd
import numpy as np
data = {'Name': [1, 2, 3, 4, 5],
        'Age': [4, np.inf, 6, 7, 8]}
df = pd.DataFrame(data)
df = df.replace([np.inf, -np.inf], np.nan)
df = df.dropna()
print("DataFrame after Removing Infinite Values:",df)

DataFrame after Removing Infinite Values:    Name  Age
0     1  4.0
2     3  6.0
3     4  7.0
4     5  8.0